@import "reset.css";

body {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #f7f8fa;
  font-family: sans-serif;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

.guideText {
  margin-bottom: 20px;
  font-size: 14px;
  color: gray;
}

.canvas {
  width: 700px;
  height: 500px;
  background-color: white;
  border: 3px solid #121212;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
}

.controls__range {
  margin-bottom: 20px;
}

.controls__btns {
  margin-bottom: 20px;
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  width: 100px;
  margin: 0 4px;
  padding: 5px 0;
  border: 4px solid #fff;
  border-radius: 10px;
  background-color: lightblue;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #282846;
  text-transform: uppercase;
}

.controls__btns button:active {
  transform: scale(0.98);
}

.controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}